@model IEnumerable<FIT5032_Ass.Models.HomeVisit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HomeVisit List</h2>
@if (User.IsInRole("student"))
{
    <div id="calendar"></div>
    <div style="display: none">
        @if (User.IsInRole("student"))
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TeacherEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher.FirstName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="events">
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherEmail)
                    </td>
                    <td class="start">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td class="title">
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
}
@if (User.IsInRole("teacher"))
{      
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TeacherEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher.FirstName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
}
@section Scripts {
    @Scripts.Render("~/bundles/fullcalendar")
}